# importing pandas library

In [1]:
import pandas as pd

# 1. Create a list consists of ten names. Use the list to store the list elements in DataFrame. Display the created dataframe.

In [2]:
name=['raj','ravi','abhi','ajay','vishal','sumit','jay','vijay','nil','nitin']
df=pd.DataFrame(name)
df

        0
0     raj
1    ravi
2    abhi
3    ajay
4  vishal
5   sumit
6     jay
7   vijay
8     nil
9   nitin

# 2. Create DataFrame from Dictionary which is consists of lists. Create following dictionary consists of three keys
    and each of them contain corresponding list of values. 
    
    d = {'Studentâ€™: ['Rutvik', 'Pankti', 'Evaan', 'Dhyan'], 
            'City': ['Pune', 'Delhi', 'Surat', 'Houston'], 
            'Age': [22, 16, 5, 13]}

In [5]:
d = {'Student':['Rutvik', 'Pankti', 'Evaan', 'Dhyan'], 
    'City':['Pune', 'Delhi', 'Surat', 'Houston'], 
    'Age':[22, 16, 5, 13]} 
df=pd.DataFrame(d)
print('DataFarame created successfully.')

DataFarame created successfully.

# 3. Store above dictionary in dataframe and display the created dataframe.

In [6]:
df=pd.DataFrame(d)
df

  Student     City  Age
0  Rutvik     Pune   22
1  Pankti    Delhi   16
2   Evaan    Surat    5
3   Dhyan  Houston   13