
# importing library

In [17]:
import csv
import pandas as pd

# 1. write 5 records using writer object in file.

In [2]:
def q1():
    with open ('salary.csv','w',newline='') as sal:
        data=[['Empid','Empname','Department','Experience','salary'],
             [1,'RAJ','BCA',4,45000],
             [2,'AJAY','BCA',3,40000],
             [3,'SUMIT','BBA',2,30000],
             [4,'PARTH','MCA',1,34000],
             [5,'VISHAL','MBA',3,29000]]
        w=csv.writer(sal)
        w.writerows(data)
    print('data are successfully inserted.')

# 2. read file using reder object and print file in proper format.

In [3]:
def q2():
    with open('salary.csv','r',newline='') as sal:
        r=csv.reader(sal)
        for i in sal:
            print(i)

# 3. append 2 records into file and display it.

In [4]:
def q3():
     with open ('salary.csv','a',newline='') as sal:
        data=[[6,'Abhi','BCOM',6,65000],
             [7,'KEVAL','Bed',4,46000]]
        w=csv.writer(sal)
        w.writerows(data)
        q2()

# 4. read data from file and display it.

In [14]:
def q4():
    with open('salary.csv','r',newline='') as sal:
        data=csv.DictReader(sal)
        l=[]
        s=0
        for i in data:
            d=i['Department']
            if d=='BCA':
                s+=int(i['salary'])
        print('total salary of BCA Department is : {}'.format(s))

# 5. read file using panada library and display records.

In [7]:
def q5():
    df=pd.read_csv('salary.csv')
    print(df)

In [8]:
q1()

data are successfully inserted.

In [9]:
q2()

Empid,Empname,Department,Experience,salary

1,RAJ,BCA,4,45000

2,AJAY,BCA,3,40000

3,SUMIT,BBA,2,30000

4,PARTH,MCA,1,34000

5,VISHAL,MBA,3,29000

In [10]:
q3()

Empid,Empname,Department,Experience,salary

1,RAJ,BCA,4,45000

2,AJAY,BCA,3,40000

3,SUMIT,BBA,2,30000

4,PARTH,MCA,1,34000

5,VISHAL,MBA,3,29000

In [15]:
q4()

total salary of BCA Department is : 85000

In [16]:
q5()

   Empid Empname Department  Experience  salary
0      1     RAJ        BCA           4   45000
1      2    AJAY        BCA           3   40000
2      3   SUMIT        BBA           2   30000
3      4   PARTH        MCA           1   34000
4      5  VISHAL        MBA           3   29000
5      6    Abhi       BCOM           6   65000
6      7   KEVAL        Bed           4   46000